<!--
  Generated template for the RecipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    <ion-buttons  end>
        <button ion-button (click)="OnNewRecipe()">
            <ion-icon name="md-add"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title text-center>Recipes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
      <button ion-item (click)="OnLoadRecipe(Recipe,i)" *ngFor="let Recipe of Recipes;let i=index">
        <h2>{{Recipe.title}}</h2>
        <ion-note>{{Recipe.difficulty}}</ion-note>
      </button> 
  </ion-list>
</ion-content>
