<!--
  Generated template for the RecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>{{recipe.title}}</h2>
        <div class="subtitle">{{recipe.difficulty}}</div>
      </ion-col> 
    </ion-row>    
    <ion-row>
      <ion-col text-center>
        <p>{{recipe.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recipe.ingredients!=null && recipe.ingredients.length>0">
      <ion-col text-center>
        <button  ion-button clear (click)="OnAddIngredients()">Add ingredients to shopping list</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button outline block (click)="OnEditRecipe()">Edit Recipe</button>
      </ion-col>
      <ion-col>
        <button ion-button outline block (click)="OnDeleteRecipe()" color="danger">Delete Recipe</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
