<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="OnSignin(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input requird type="email" ngModel name="email"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input required type="password" ngModel name="password"></ion-input>
      </ion-item> 
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">SignIn</button>
  </form>
</ion-content>
