<!--
  Generated template for the EditRecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{Mode}} Recipe</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<form [formGroup]="RecipeForm" (ngSubmit)="OnSubmit()">
  <ion-list>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" formControlName="Title" ></ion-input>
    </ion-item>   
    <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="Description"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select formControlName="Difficulty">
            <ion-option *ngFor="let item of Difficulties" [value]="item">
                {{item}}
            </ion-option>
        </ion-select>
    </ion-item> 
  </ion-list>
  <button type="button" ion-button clear block (click)="OnManageIngredients()">Manage Ingredients</button>
  <ion-list formArrayName="Ingredients">
    <ion-item *ngFor="let Control of RecipeForm.get('Ingredients').controls;let i=index">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [formControlName]="i"></ion-input>
    </ion-item>
  </ion-list>
  <button type="submit" ion-button block [disabled]="!RecipeForm.valid">{{Mode}} Recipe</button>
</form>
</ion-content>
