<ion-menu [content]="nav">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
       <button ion-item icon-left (click)="OnLoad(TabsPage)"><ion-icon name="book"></ion-icon> Recipe</button>
       <button ion-item icon-left (click)="OnLoad(SignInPage)"><ion-icon name="log-in"></ion-icon> SignIn</button>
       <button ion-item icon-left (click)="OnLoad(SignUpPage)"><ion-icon name="person"></ion-icon> SignUp</button>
       <button ion-item icon-left (click)="OnLogout()"><ion-icon name="log-out"></ion-icon> Logout</button>
       
       
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-nav [root]="TabsPage" #nav></ion-nav>
