<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form #f="ngForm" (ngSubmit)="OnAddItem(f)">
    <ion-list>
        <ion-item>
          <ion-label fixed>Name</ion-label>
          <ion-input required type="text" value="" name="IngredienName" placeholder="Milk" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Amount</ion-label>
            <ion-input required type="number" value="" name="IngredienAmount" placeholder="2" ngModel></ion-input>
          </ion-item>
      </ion-list>
      <button ion-button type="submit" block [disabled]="!f.valid">Add Item</button>
</form>
<ion-list>
  
  <ion-list-header *ngIf="ShoppingListItems.length>0">
    Shopping List Items
  </ion-list-header>
  <ion-item-sliding *ngFor="let item of ShoppingListItems">
      <ion-item >
          {{item.name}}-({{item.amount}})
        </ion-item>
        <ion-item-options>
          <button ion-button small color="danger" (click)="RemoveItem(item)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
    </ion-item-sliding>  

</ion-list>
</ion-content>
